{% macro render_bootstrap_field(field) %}

<div class="form-group">
  <!-- prettier-ignore -->
  {{field.label()}}
  {% if field.errors %}
  {{field(class="form-control is-invalid",**kwargs)|safe }}
  <div class="invalid-feedback">
    {% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </div>
  {%else%} {{field(class="form-control",**kwargs)|safe }} {% endif %}
</div>

{% endmacro %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/vaccine.svg') }}" />
    <title>India Cowin Alerts</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link href="{{url_for('static',filename='css/index.css')}}" rel="stylesheet" />
  </head>
  <body class="d-flex justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10 needs-validation">
      <div class="d-flex flex-column align-items-center mb-4">
        <img
          class="m-2"
          src="{{url_for('static', filename='icons/vaccine.svg')}}"
          alt=""
          width="98"
          height="98"
        />
        <h1>India Cowin Alerts</h1>
        <p>Subscribe for instant <strong>Cowin Vaccine</strong> availability alerts.</p>
      </div>
      <form action="{{request.path}}" method="POST" class="mb-4">
        <!-- prettier-ignore -->
        {{ sub_form.hidden_tag() }}
        {{render_bootstrap_field(sub_form.name, placeholder="Your Name")}} 
        {{render_bootstrap_field(sub_form.email, placeholder="abc@xyz.com")}} 
        {{render_bootstrap_field(sub_form.pincode)}}
        {% with messages = get_flashed_messages() %}
        {% if messages %} {% for message in messages %}
        <div class="form-group">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        {% endfor %} {% endif %} {% endwith %}
        <div class="form-group d-flex">
          <div class="custom-control custom-switch form-check-inline">
            <!-- prettier-ignore -->
            {{sub_form.sub_18(class="custom-control-input")}}
            {{sub_form.sub_18.label(class="custom-control-label")}}
          </div>
          <div class="ml-4 custom-control custom-switch form-check-inline">
            <!-- prettier-ignore -->
            {{sub_form.sub_45(class="custom-control-input")}}
            {{sub_form.sub_45.label(class="custom-control-label")}}
          </div>
        </div>
        <div class="form-group">{{ sub_form.submit(class='btn btn-primary') }}</div>
        {%if success%}
        <div class="form-group">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            You have successfully registered for <strong>Live Cowin Alerts</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        {%endif%}
      </form>
      <div class="d-flex flex-column align-items-center mb-4 text-small">
        <small class="mb-2 text-muted">Project developed by</small>
        <small>
          <a href="https://www.linkedin.com/in/akkisdiary/">Akshay Shegaonkar</a> |
          <a href="https://www.linkedin.com/in/gopish-mundada/">Gopish Mundada</a>
        </small>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
